<div class="registration-bg">
    <div class="main-content-register">
        <div class="middle-box text-center loginscreen animated fadeInDown m-t-lg">
            <div >
                <div>

                    <img src="img/b4dlog.png" class="bg-brand-sm mb-30 mt-30">

                </div>

                <div>
                    <h3>Log In to Brains4Drones</h3>
                </div>
            </div>
        </div>

        <div class="middle-box text-center loginscreen animated fadeInDown">
            <form class=" " role="form" style="margin-top:50px">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="User.email" style="color:dimgrey" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" ng-model="User.password" style="color:dimgrey" placeholder="Password" required="">
                </div>
                <button ng-click="goToDashBoard()" class="mb-50 reg_btn btn-mod btn-medium btn-round btn-block" style="margin-bottom:20px">Login</button>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="home_btn btn-mod btn-w btn-medium btn-round btn-block" ng-click="goToRegister()">Register</a>
            </form>
        </div>
        <p class="text-center"> <small>Brains4Drones &copy; 2018</small> </p>
    </div>
</div>